h1,h2,h3,h4,h5,h6{
   border:1px, solid black;
   width:20%;
   padding:20px;
   border-radius:0px  40px;;
   margin:20px;
   font-family: Conic sans meshpatch;
   color: red;
   background-color:yellow;
   text-align:center;
   border-color:red;
   }
 
